*{
    margin: 0;
    padding: 0;
}

.header-side{
	background-image: url(../img/decorativo/capa.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding-top: 250px;
	padding-bottom: 250px;

}

.content-side{
	padding-top: 200px;
	padding-bottom: 200px;
}

.img-side{
	background-image: url(../img/decorativo/violao.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 200px;
	padding-top: 200px;
	color: white;
}

.footer-side{
	padding-bottom: 200px;
	padding-top: 200px;
	background-color: black;
	color: blanchedalmond;
}

.black-border{
	-webkit-text-stroke-width: 0.75px;
	-webkit-text-stroke-color: black;
}

.t-20{
	font-size: 1.6em;
}

#btn-sm{
	color: white;
	border-color: white;
}


.video{

	width: 100%;
	height: 18em;


}

.img-30{
	width: 20%;
}

.navbar-light{
  background-color: #79CBFF;
}
